.about-container {
  height: 100vh;
  width: 100vw;
}
.about-container-dark {
  background-color: black;
}
.img-container {
  text-align: center;
  margin-top: 60px;
}
.about {
  width: 25%;
}
.heading {
  color: #171f46;
  font-family: 'roboto';
  font-size: 40px;
}
.heading-dark {
  color: #f8fafc;
  font-family: 'roboto';
  font-size: 40px;
}
