.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 100vw;
  border: 1px solid #dcdcdc;
}
.nav-container-dark {
  background-color: #333333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 100vw;
  border: 1px solid #dcdcdc;
}
.website-logo {
  width: 30px;
}
.theme {
  width: 30px;
}
.nav-links {
  display: flex;
  list-style-type: none;
  font-family: 'roboto';
  font-size: 25px;
}
.link-text-dark {
  margin: 5px;
  color: #f8fafc;
}
.link-text {
  margin: 5px;
}
.img-btn{
    background-color: transparent;
    border:none;
    cursor:pointer;
}